@import url("https://use.typekit.net/fjh4cfl.css");

$body-bg: #f2f4f6;
$body-color: #232c2a;

$font-family: 'proxima-nova', Helvetica, Arial, Sans-Serif;

$default-font-size: 18px;
$default-line-height: 1.2;

$default-radius: 4px;

$theme-colors: (
  "primary": #232c2a,
  "secondary": #64706e,
  "auxiliary": #2B42F7,
  "success": #27b0a3,
  "success-dark": #10d1c4,
  "danger": #e54142,
  "danger-dark": #cd1011,
  "warning": #64706e,
  "info": #232c2a,
  "light": #f2f4f6,
  "dark": #232c2a,
  "white": #ffffff,
  "field-bg-color": #f2f4f6,
  "field-border-color": #f2f4f6,
  "field-color": #232c2a,
  "button-submit": #10d1c4,
  "button-delete": #cd1011,
  "button-cancel": #64706e,
  "links": #232c2a
);
