<div class='product-card card bg-body-tertiary mb-3 mb-sm-0' ...attributes>
  <img src='{{@product.image}}' class='card-img-top' alt='...' />
  <div class='card-body'>
    <h5 class='card-title'>{{@product.title}}</h5>
    <p class='card-text text-truncate'>{{@product.description}}</p>
  </div>
</div>