{{page-title (t "events.title")}}
<nav class="mt-3 mb-3" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><LinkTo class="link-offset-2" @route="home">{{t "home.title"}}</LinkTo></li>
    <li class="breadcrumb-item active" aria-current="page">{{t "events.title"}}</li>
  </ol>
</nav>
<h1 class="mt-3">{{t "events.title"}}</h1>