{{page-title (t "unknown.title")}}
<div class="unknown">

  <div class="unknown-area">

    <img class="logo" src="/assets/images/logo.svg" alt="">

    <div class="unknown-box">

      <Card>
        <Card::Body class="p-4">
          <h2>{{t "unknown.header"}}</h2>
          <p>{{t "unknown.text" htmlSafe=true}}</p>
        </Card::Body>
      </Card>

    </div>

    <div class="back-link-area mt-2">
      <LinkTo class="back-link" @route="dashboard">
        {{t "shared.back"}}
      </LinkTo>
    </div>

  </div>

</div>